<div class="kitchen">
	<div class="container">
		<h3>{{kitchenName}}</h3>
		<div class="row">
			<button class="btn btn-default col-md-2 col-md-offset-5 col-xs-10 col-xs-offset-1" data-toggle="modal" data-target="#receipt">Add Receipt</button>
		</div>
		<div class="row">
			<form>
		    <div class="form-group">
		      <div class="input-group col-xs-8 col-xs-offset-2">
		        <input type="text" class="form-control col-xs-12" placeholder="Search Items" ng-model="searchItems">
		      </div>      
		    </div>
		  </form>
	  </div>
		<table class="table table-striped table-hover">
		  <thead>
		    <tr>
		    	<!-- <th>
		    		<a ng-click="sortTable('date')">
		    			Date Purchased
		    			<span ng-show="sortType == 'date' && !sortReverse">&#9660;</span>
		    			<span ng-show="sortType == 'date' && sortReverse">&#9650;</span>
		    		</a>
		    	</th> -->
		    	<th>
		    		<a ng-click="sortTable('quantity')">
		    			Quantity
		    			<span ng-show="sortType == 'quantity' && !sortReverse">&#9660;</span>
		    			<span ng-show="sortType == 'quantity' && sortReverse">&#9650;</span>
		    		</a>
		    	</th>
		    	<th>
		    		<a ng-click="sortTable('ingredientName')">
		    			Food Name
		    			<span ng-show="sortType == 'ingredientName' && !sortReverse">&#9660;</span>
		    			<span ng-show="sortType == 'ingredientName' && sortReverse">&#9650;</span>
		    		</a>
		    	</th>
		    	<th>
		    		<a ng-click="sortTable('nickName')">
		    			Who bought it?
		    			<span ng-show="sortType == 'nickName' && !sortReverse">&#9660;</span>
		    			<span ng-show="sortType == 'nickName' && sortReverse">&#9650;</span>
		    		</a>
		    	</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="item in items | orderBy:sortType:sortReverse | filter:searchItems">
		      <!-- <td >{{item.date | date:'MM/dd/yyyy'}}</td> -->
		      <td>{{item.quantity}}</td>
		      <td>{{item.ingredientName}}</td>
		      <td>{{item.nickName}}</td>
		    </tr>
		  </tbody>
		</table> 
	</div>
</div>

<div class="modal fade" id="receipt">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="refresh()">&times;</button>
				<h4 class="modal-title">Add Item</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-2 col-xs-offset-1">
						<div class="form-group">
							<input class="form-control" type="number" placeholder="Quantity" ng-model="quantity">
						</div>
					</div>
					<div class="col-xs-8">
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Ingredient" ng-model="ingredient">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refresh()">Close</button>
				<button type="button" class="btn btn-primary" ng-click="add(quantity, ingredient)">Add</button>
			</div>
		</div>
	</div>
</div>