<div class="kitchen">
	<div class="container">
		<h3>{{kitchenName}}</h3>
		<div class="row">
			<button class="btn btn-default col-md-2 col-md-offset-5 col-xs-10 col-xs-offset-1" data-toggle="modal" data-target="#receipt">Add Receipt</button>
		</div>
		<div class="row">
			<form>
		    <div class="form-group">
		      <div class="input-group">
		        <div class="input-group-addon"><i class="fa fa-search"></i></div>
		        <input type="text" class="form-control" placeholder="Search Items" ng-model="searchItems">
		      </div>      
		    </div>
		  </form>
	  </div>
		<table class="table table-striped table-hover">
		  <thead>
		    <tr>
		    	<th>
		    		<a ng-click="sortTable('date')">
		    			Date Purchased
		    			<span ng-show="sortType == 'date' && !sortReverse">&#9660;</span>
		    			<span ng-show="sortType == 'date' && sortReverse">&#9650;</span>
		    		</a>
		    	</th>
		    	<th>
		    		<a ng-click="sortTable('quantity')">
		    			Quantity
		    			<span ng-show="sortType == 'quantity' && !sortReverse">&#9660;</span>
		    			<span ng-show="sortType == 'quantity' && sortReverse">&#9650;</span>
		    		</a>
		    	</th>
		    	<th>
		    		<a ng-click="sortTable('ingredientName')">
		    			Food Name
		    			<span ng-show="sortType == 'ingredientName' && !sortReverse">&#9660;</span>
		    			<span ng-show="sortType == 'ingredientName' && sortReverse">&#9650;</span>
		    		</a>
		    	</th>
		    	<th>
		    		<a ng-click="sortTable('userName')">
		    			Who bought it?
		    			<span ng-show="sortType == 'userName' && !sortReverse">&#9660;</span>
		    			<span ng-show="sortType == 'userName' && sortReverse">&#9650;</span>
		    		</a>
		    	</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="item in items | orderBy:sortType:sortReverse | filter:searchItems">
		      <td >{{item.date | date:'MM/dd/yyyy'}}</td>
		      <td>{{item.quantity}}</td>
		      <td>{{item.ingredientName}}</td>
		      <td>{{item.userName}}</td>
		    </tr>
		  </tbody>
		</table> 
	</div>
</div>

<div class="modal fade" id="receipt">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Picture</a></li>
					<li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Manual</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="home">
						<!-- <div id="webcam" ng-if="vm.showweb">
							<webcam channel="vm.webcam.channel"
									on-streaming="vm.webcam.onSuccess()"
									on-error="vm.webcam.onError(err)"
									on-stream="vm.webcam.onStream(stream)"></webcam>
							<button class="btn btn-default" type="button" ng-click="vm.webcam.makeSnapshot()">Capture</button>
							<canvas id="snapshot" width="200" height="200"></canvas>
						</div> -->
						<input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
						<!-- <img 
							id="photo"
							data-ng-src="{{'data:' + vm.fotoContentType + ';base64,' + vm.photo}}"
							style="max-height: 100px;"
							ng-if="vm.photo"/> -->
					</div>
					<div class="tab-pane fade" id="profile">
						<p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>